@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>SESM - Space Engineers Server Manager</h1>
    <p class="lead">Welcome in Space Engineer Server Manager !</p>
    <p><a href="https://sesm.codeplex.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
