
@{
    ViewBag.Title = "title";
}

<div class="jumbotron">
    <h1>SESM - Space Engineer Server Manager</h1>
    <p class="lead">Welcom in Space Engineer Server Manager !</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
