@{
    ViewBag.Title = "Home";
}
<div class="col-md-12">
    <div class="jumbotron">
        <h1>SESM <small>Space Engineers Server Manager</small></h1>
        <p class="lead">Welcome in Space Engineers Server Manager !</p>
        <p><a href="http://forums.keenswh.com/threads/tool-sesm-space-engineers-server-manager.6956655/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
</div>
