@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>SESM <small>Space Engineers Server Manager</small></h1>
    <p class="lead">Welcome in Space Engineers Server Manager !</p>
    <p><a href="https://sesm.codeplex.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
