@model SESM.Models.Views.Account.LoginViewModel
@{
    ViewBag.Title = "Signature Generator";
}
<link href="~/Scripts/Color/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<script src="~/Scripts/Color/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript">
    function Encode() {
        var paramBuild = new Array();

        // Template
        paramBuild.push("1");

        // Size
        paramBuild.push($("#Width").val());
        paramBuild.push($("#Height").val());

        // Background

        var colbg = $("#ColBg > span > i").css("background-color");
        if (colbg.substring(0, 4) == "rgba") {
            colbg = colbg.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*([01]\.\d+)\)$/);
        } else {
            colbg = colbg.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        }

        paramBuild.push(colbg[1]);
        paramBuild.push(colbg[2]);
        paramBuild.push(colbg[3]);

        if (colbg.length == 5) {
            paramBuild.push(Math.round(parseFloat(colbg[4]) * 255));
        } else {
            paramBuild.push("255");
        }

        // Primary

        var colprim = $("#ColPrim > span > i").css("background-color");
        if (colprim.substring(0, 4) == "rgba") {
            colprim = colprim.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*([01]\.\d+)\)$/);
        } else {
            colprim = colprim.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        }

        paramBuild.push(colprim[1]);
        paramBuild.push(colprim[2]);
        paramBuild.push(colprim[3]);

        if (colprim.length == 5) {
            paramBuild.push(Math.round(parseFloat(colprim[4]) * 255));
        } else {
            paramBuild.push("255");
        }

        // Secondary

        var colsec = $("#ColSec > span > i").css("background-color");
        if (colsec.substring(0, 4) == "rgba") {
            colsec = colsec.match(/^rgba\((\d+),\s*(\d+),\s*(\d+),\s*([01]\.\d+)\)$/);
        } else {
            colsec = colsec.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        }

        paramBuild.push(colsec[1]);
        paramBuild.push(colsec[2]);
        paramBuild.push(colsec[3]);

        if (colsec.length == 5) {
            paramBuild.push(Math.round(parseFloat(colsec[4]) * 255));
        } else {
            paramBuild.push("255");
        }

        var val = paramBuild.join(";");
        console.log(val);
        return val;
    }

    function changeimg() {
        $("#imgSign").attr("src", "@Url.Action("Signature")/" + btoa(Encode()));
    }
    
    $(function () {

        $('.colpick').colorpicker({ format: "rgba" }).on('hidePicker', function (ev) {
            changeimg();
        });
        $(".loneInput").focusout(function() {
            changeimg();
        });
        changeimg();
    });
</script>
<style type="text/css">
 .bg-inpgrp {
    background-color: #2b3e50;
 }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <ul id="confTabs" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#Templates" role="tab" data-toggle="tab">Templates</a></li>
                <li class=""><a href="#Size" role="tab" data-toggle="tab">Size</a></li>
                <li class=""><a href="#Colors" role="tab" data-toggle="tab">Colors</a></li>
            </ul>
            <div id="confTabsContent" class="tab-content">
                <div class="tab-pane fade active in" id="Templates">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div class="tab-pane fade" id="Size">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Width</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" id="Width" value="300" class="form-control loneInput" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Height</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" id="Height" value="150" class="form-control loneInput" />
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
                <div class="tab-pane fade" id="Colors">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Background Color</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group colpick" id="ColBg">
                                <span class="bg-inpgrp input-group-addon"><i></i></span>
                                <input type="text" value="rgba(78, 93, 108, 1)" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Primary Color</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group colpick" id="ColPrim">
                                <span class="bg-inpgrp input-group-addon"><i></i></span>
                                <input type="text" value="rgba(43, 62, 80, 1)" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Secondary Color</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group colpick" id="ColSec">
                                <span class="bg-inpgrp input-group-addon"><i></i></span>
                                <input type="text" value="rgba(43, 62, 80, 1)" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img id="imgSign"/>
    </div>
</div>
