<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets async="true">
    <target name="AutoUpdateFile" xsi:type="File" fileName="${basedir}/Logs/AutoUpdate/${shortdate}-AutoUpdate.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="ManualUpdateFile" xsi:type="File" fileName="${basedir}/Logs/ManualUpdate.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="HourlyCrusherFile" xsi:type="File" fileName="${basedir}/Logs/HourlyCrusher/${shortdate}-HourlyCrusher.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="Backuplvl1File" xsi:type="File" fileName="${basedir}/Logs/Backups/${shortdate}-Backuplvl1.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="Backuplvl2File" xsi:type="File" fileName="${basedir}/Logs/Backups/${shortdate}-Backuplvl2.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="Backuplvl3File" xsi:type="File" fileName="${basedir}/Logs/Backups/${shortdate}-Backuplvl3.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="ServiceFile" xsi:type="File" fileName="${basedir}/Logs/Service/${shortdate}-Service.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="AutoUpdateLogger" minlevel="Debug" writeTo="AutoUpdateFile" />
    <logger name="ManualUpdateLogger" minlevel="Debug" writeTo="ManualUpdateFile" />
    <logger name="HourlyCrusherLogger" minlevel="Debug" writeTo="HourlyCrusherFile" />
    <logger name="Backuplvl1Logger" minlevel="Debug" writeTo="Backuplvl1File" />
    <logger name="Backuplvl2Logger" minlevel="Debug" writeTo="Backuplvl2File" />
    <logger name="Backuplvl3Logger" minlevel="Debug" writeTo="Backuplvl3File" />
    <logger name="ServiceLogger" minlevel="Debug" writeTo="ServiceFile" />
  </rules>
</nlog>