<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets async="true">
    <target name="AutoUpdateFile" xsi:type="File" fileName="${basedir}/Logs/AutoUpdate/${shortdate}-AutoUpdate.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
    <target name="ManualUpdateFile" xsi:type="File" fileName="${basedir}/Logs/ManualUpdate.log" layout="${longdate}|${level}: ${message}" />
    <target name="HourlyCrusherFile" xsi:type="File" fileName="${basedir}/Logs/HourlyCrusher/${shortdate}-HourlyCrusher.log" layout="${longdate}|${level}: ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="AutoUpdateLogger" minlevel="Debug" writeTo="AutoUpdateFile" />
    <logger name="ManualUpdateLogger" minlevel="Debug" writeTo="ManualUpdateFile" />
    <logger name="HourlyCrusherLogger" minlevel="Debug" writeTo="HourlyCrusherFile" />
  </rules>
</nlog>