<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SESMConfigStorage" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <SESMConfigStorage>
    <add key="Prefix" value="SESM" />
    <add key="SESavePath" value="C:\ProgramData\SpaceEngineersDedicated\" />
    <add key="SEDataPath" value="C:\SpaceEngineer\" />
    <add key="Arch" value="x64" />
    <add key="Diagnosis" value="False" />
    <add key="AutoUpdate" value="True" />
    <add key="AUUsername" value="remygrandin" />
    <add key="AUPassword" value="JKZAdVqY9YSYa2pj6IXQt6D6n3w7It+1+mc805Mxm0b2ymZhqxTZFzCp8ZvpOXNTHaT4JA1mr38+6UENuAmHXQ==" />
    <add key="LastAU" value="31/07/2014 19:10" />
    <add key="DBConnString" value="Server=.\SQLEXPRESS;Database=SESM;User Id=sa;Password=MyPassword;MultipleActiveResultSets=true;" />
  </SESMConfigStorage>
</configuration>