<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SESMConfigStorage" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <SESMConfigStorage>
    <add key="DBConnString" value="Server=.\SQLEXPRESS;Database=SESM3;User Id=sa;Password=MyPassword;MultipleActiveResultSets=true;" />
    <add key="Prefix" value="SESM4444" />
    <add key="SESavePath" value="C:\ProgramData\SpaceEngineersDedicated\" />
    <add key="SEDataPath" value="C:\SpaceEngineers\" />
    <add key="Arch" value="x64" />
    <add key="Diagnosis" value="True" />
    <add key="AutoUpdate" value="False" />
    <add key="AUUsername" value="remygrandin" />
    <add key="AUPassword" value="F7j4G6kwb5OtpYD12debDB3CVO6dlX3HBAEEj5bOeB5zEyq+ISRG/zeRzfpR//RLO85dzefQ+7ToSe3SQic9dA==" />
    <add key="LastAU" value="xxx" />
    <add key="AUInterval" value="0 9/10 * * * ?" />
    <add key="PerfMonitor" value="True" />
    <add key="Lockdown" value="False" />
    <add key="AUBetaName" value="" />
    <add key="AUBetaPassword" value="" />
    <add key="UseSESE" value="True" />
    <add key="SESEDev" value="True" />
    <add key="SESEDelay" value="8" />
    <add key="BlockDll" value="True" />
    <add key="LowPriorityStart" value="False" />
    <add key="SESEUpdateURL" value="https://api.github.com/repos/Tyrsis/SE-Community-Mod-API/releases" />
    <add key="AutoUpdateRunning" value="False" />
    <add key="AutoUpdateEnabled" value="True" />
    <add key="AutoUpdateCron" value="0 0/20 * * * ?" />
    <add key="SESEAutoUpdateEnabled" value="True" />
    <add key="SESEAutoUpdateUseDev" value="True" />
    <add key="SESEAutoUpdateCron" value="0 0/10 * * * ?" />
    <add key="DiagnosisEnabled" value="False" />
    <add key="AutoUpdateBetaPassword" value="" />
    <add key="PerfMonitorEnabled" value="True" />
    <add key="AutoBackupLvl1Enabled" value="True" />
    <add key="AutoBackupLvl1Cron" value="0 0/10 * * * ?" />
    <add key="AutoBackupLvl1NbToKeep" value="6" />
    <add key="AutoBackupLvl2Enabled" value="True" />
    <add key="AutoBackupLvl2Cron" value="0 0 * * * ?" />
    <add key="AutoBackupLvl2NbToKeep" value="24" />
    <add key="AutoBackupLvl3Enabled" value="False" />
    <add key="AutoBackupLvl3Cron" value="0 0 0 * * ?" />
    <add key="AutoBackupLvl3NbToKeep" value="14" />
  </SESMConfigStorage>
</configuration>