<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SESMConfigStorage" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <SESMConfigStorage>
    <add key="DBConnString" value="Server=.\SQLEXPRESS;Database=SESM;User Id=sa;Password=MyPassword;MultipleActiveResultSets=true;" />
    <add key="Prefix" value="SESM" />
    <add key="SESavePath" value="C:\ProgramData\SpaceEngineersDedicated\" />
    <add key="SEDataPath" value="C:\SpaceEngineer\" />
    <add key="Arch" value="x64" />
    <add key="Diagnosis" value="True" />
    <add key="AutoUpdate" value="True" />
    <add key="AUUsername" value="remygrandin" />
    <add key="AUPassword" value="UXq0UW/mNEW6kRMQA+gs2zM3zIyAWnnsbDh18ZAhEp/WwqI1+GzboD/Su7caOPpJesbg7fgdu6fV27xvouIWzg==" />
    <add key="LastAU" value="xxx" />
    <add key="AUInterval" value="0 9/10 * * * ?" />
    <add key="AutoBackupLvl1" value="True" />
    <add key="ABIntervalLvl1" value="0 0/30 * * * ?" />
    <add key="ABNbToKeepLvl1" value="12" />
    <add key="AutoBackupLvl2" value="False" />
    <add key="ABIntervalLvl2" value="0 0 * * * ?" />
    <add key="ABNbToKeepLvl2" value="48" />
    <add key="AutoBackupLvl3" value="False" />
    <add key="ABIntervalLvl3" value="0 0 0 * * ?" />
    <add key="ABNbToKeepLvl3" value="30" />
    <add key="StatusAutoRefresh" value="True" />
    <add key="PerfMonitor" value="False" />
    <add key="Lockdown" value="False" />
    <add key="AUBetaName" value="" />
    <add key="AUBetaPassword" value="" />
    <add key="UseSESE" value="True" />
    <add key="SESEDev" value="True" />
  </SESMConfigStorage>
</configuration>