@{
    ViewBag.Title = "Server Configuration";

    List<KeyValuePair<string, string>> breadCrumb = new List<KeyValuePair<string, string>>();
    breadCrumb.Add(new KeyValuePair<string, string>("Servers", "/Servers/"));
    breadCrumb.Add(new KeyValuePair<string, string>(ViewBag.Server.Name, "/" + ViewBag.ServerID + "/Dashboard/"));
    breadCrumb.Add(new KeyValuePair<string, string>("Server Configuration", "/" + ViewBag.ServerID + "/Configuration/"));
    ViewBag.Breadcrumb = breadCrumb;

    ViewBag.RefreshBtn = true;
}
<script type="text/javascript" src="/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
<script type="text/javascript" src="/Content/Js/TouchSpinMod.js"></script>
<script type="text/javascript" src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />

<div class="col-md-12">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="tabbable-custom nav-justified">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#tab_Network" data-toggle="tab">
                            Network
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Server" data-toggle="tab">
                            Server
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Gameplay" data-toggle="tab">
                            Gameplay
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Players" data-toggle="tab">
                            Players
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Mods" data-toggle="tab">
                            Mods
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Access" data-toggle="tab">
                            Access
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Construction" data-toggle="tab">
                            Construction
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Misc" data-toggle="tab">
                            Miscellaneous
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tab" id="btnShowAll">
                            All
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_Network">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Network Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Listening IP</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpIP" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Listening Port</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpServerPort" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Steam Port</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpSteamPort" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Online Mode</label>
                                            <div class="col-md-6">
                                                <select id="inpOnlineMode" class="bs-select form-control">
                                                    <option value="OFFLINE">Offline</option>
                                                    <option value="PRIVATE">Private</option>
                                                    <option value="FRIENDS">Friends</option>
                                                    <option value="PUBLIC">Public</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Server Name</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpServerName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">World Name</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpWorldName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Server">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Server Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Players</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxPlayers" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Client Can Save Localy</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpClientCanSave">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Save (In Minutes)</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpAutoSaveInMinutes" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Pause Game When Empty</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpPauseGameWhenEmpty">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Gameplay">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Gameplay Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Active Fracture Pieces</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxActiveFracturePieces" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Structural Simulation</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableStructuralSimulation">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Bots</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaximumBots" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Barbarians</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableBarbarians">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Game Day In Real Minutes</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpGameDayInRealMinutes" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Day Night Ratio</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpDayNightRatio" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Animals</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input type="checkbox" id="inpEnableAnimals">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Players">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Players Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Spectator</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableSpectator">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Mods">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Mods</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Mods</label>
                                            <div class="col-md-6">
                                                <textarea rows="10" id="inpMods" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Access">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Access Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Administrators</label>
                                            <div class="col-md-6">
                                                <textarea rows="10" id="inpAdministrators" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Banned</label>
                                            <div class="col-md-6">
                                                <textarea rows="10" id="inpBanned" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Steam Group ID</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpGroupID" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Construction">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Construction Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">GameMode</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpGameMode" class="make-switch" data-off-text="&nbsp;Survival&nbsp;" data-on-text="&nbsp;Creative&nbsp;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Copy Paste</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableCopyPaste">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Misc">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Miscellaneous</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Ignore Last Session</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpIgnoreLastSession">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn green" id="btnSave">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function initPage() {
        $('#btnShowAll').click(function () {
            $('.tab-pane').addClass("active");
        });

        function isEmptyOrSpaces(str) {
            return str === null || str.match(/^\s*$/) !== null;
        }

        // Initializers
        $.fn.bootstrapSwitch.defaults.onText = '<i class="fa fa-check"></i>';
        $.fn.bootstrapSwitch.defaults.offText = '<i class="fa fa-times"></i>';
        $("input[type='checkbox']").bootstrapSwitch();
        // Network
        $('#inpServerPort').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 65535,
            step: 1
        });
        $('#inpSteamPort').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 65535,
            step: 1
        });

        // Server
        $('#inpMaxPlayers').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            step: 1
        });
        $('#inpAutoSaveInMinutes').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000,
            step: 1
        });

        // Gameplay
        $('#inpMaxActiveFracturePieces').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000,
            step: 1
        });
        $('#inpMaximumBots').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000,
            step: 1
        });
        $('#inpDayNightRatio').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 100000,
            step: 0.01
        });


        var maskData = "";

        function LoadParam() {
            LockPage();

            $.post("/API/Server/MEGetConfiguration",
            {
                ServerID: serverID
            },
            function (data) {
                dataLoaded = true;
                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    ShowContent();
                    return;
                }

                var content = root.children("Content");
                var values = content.children("Values");
                maskData = content.children("Rights");

                // Network
                $('#inpIP').val(values.children("IP").text());
                $('#inpServerPort').val(values.children("ServerPort").text());
                $('#inpSteamPort').val(values.children("SteamPort").text());
                $('#inpOnlineMode').val(values.children("OnlineMode").text());
                $('#inpServerName').val(values.children("ServerName").text());
                $('#inpWorldName').val(values.children("WorldName").text());

                // Server
                $('#inpMaxPlayers').val(values.children("MaxPlayers").text());
                $('#inpAutoSaveInMinutes').val(values.children("AutoSaveInMinutes").text());
                $("#inpClientCanSave").bootstrapSwitch('state', values.children("ClientCanSave").text() == "true");
                $("#inpPauseGameWhenEmpty").bootstrapSwitch('state', values.children("PauseGameWhenEmpty").text() == "true");

                // Gameplay
                $("#inpEnableStructuralSimulation").bootstrapSwitch('state', values.children("EnableStructuralSimulation").text() == "true");
                $('#inpMaxActiveFracturePieces').val(values.children("MaxActiveFracturePieces").text());
                $("#inpEnableBarbarians").bootstrapSwitch('state', values.children("EnableBarbarians").text() == "true");
                $('#inpMaximumBots').val(values.children("MaximumBots").text());
                $('#inpGameDayInRealMinutes').val(values.children("GameDayInRealMinutes").text());
                $('#inpDayNightRatio').val(values.children("DayNightRatio").text());
                $("#inpEnableAnimals").bootstrapSwitch('state', values.children("EnableAnimals").text() == "true");
                
                // Players
                $('#inpEnableSpectator').bootstrapSwitch('state', values.children("EnableSpectator").text() == "true");
                
                // Mods
                var mods = [];
                values.children("Mods").children().each(function (index) {
                    var item = $(this);
                    mods.push(item.text());
                });
                $('#inpMods').val(mods.join("\r\n"));

                // Access
                var administrators = [];
                values.children("Administrators").children().each(function (index) {
                    var item = $(this);
                    administrators.push(item.text());
                });
                $('#inpAdministrators').val(administrators.join("\r\n"));
                var banned = [];
                values.children("Banned").children().each(function (index) {
                    var item = $(this);
                    banned.push(item.text());
                });
                $('#inpBanned').val(banned.join("\r\n"));
                $('#inpGroupID').val(content.children("GroupID").text());

                // Construction
                if (values.children("GameMode").text() == "Survival") {
                    $("#inpGamemode").bootstrapSwitch('state', false);
                } else if (values.children("GameMode").text() == "Creative") {
                    $("#inpGamemode").bootstrapSwitch('state', true);
                }
                $("#inpEnableCopyPaste").bootstrapSwitch('state', values.children("EnableCopyPaste").text() == "true");

                // Misc
                $("#inpIgnoreLastSession").bootstrapSwitch('state', values.children("IgnoreLastSession").text() == "true");

                // -- Rights --

                // Network
                $('#inpIP').prop("readonly", maskData.children("IP").text() != "true");
                $('#inpServerPort').prop("readonly", maskData.children("ServerPort").text() != "true");
                $('#inpSteamPort').prop("readonly", maskData.children("SteamPort").text() != "true");
                $('#inpOnlineMode').prop("disabled", maskData.children("OnlineMode").text() != "true");
                $('#inpServerName').prop("readonly", maskData.children("ServerName").text() != "true");
                $('#inpWorldName').prop("readonly", maskData.children("WorldName").text() != "true");

                // Server
                $('#inpMaxPlayers').prop("readonly", maskData.children("MaxPlayers").text() != "true");
                $('#inpAutoSaveInMinutes').prop("readonly", maskData.children("AutoSaveInMinutes").text() != "true");
                $("#inpPauseGameWhenEmpty").bootstrapSwitch("readonly", maskData.children("PauseGameWhenEmpty").text() != "true");
                $("#inpClientCanSave").bootstrapSwitch("readonly", maskData.children("ClientCanSave").text() != "true");

                // Gameplay
                $("#inpEnableStructuralSimulation").bootstrapSwitch("readonly", maskData.children("EnableStructuralSimulation").text() != "true");
                $('#inpMaxActiveFracturePieces').prop("readonly", maskData.children("MaxActiveFracturePieces").text() != "true");
                $("#inpEnableBarbarians").bootstrapSwitch("readonly", maskData.children("EnableBarbarians").text() != "true");
                $('#inpMaximumBots').prop("readonly", maskData.children("MaximumBots").text() != "true");
                $('#inpGameDayInRealMinutes').prop("readonly", maskData.children("GameDayInRealMinutes").text() != "true");
                $('#inpDayNightRatio').prop("readonly", maskData.children("DayNightRatio").text() != "true");
                $("#inpEnableAnimals").bootstrapSwitch("readonly", maskData.children("EnableAnimals").text() != "true");

                // Players
                $('#inpEnableSpectator').bootstrapSwitch("readonly", maskData.children("EnableSpectator").text() != "true");

                // Mods
                $('#inpMods').prop("readonly", maskData.children("Mods").text() != "true");

                // Access
                $('#inpAdministrators').prop("readonly", maskData.children("Administrators").text() != "true");
                $('#inpBanned').prop("readonly", maskData.children("Banned").text() != "true");
                $('#inpGroupID').prop("readonly", maskData.children("GroupID").text() != "true");

                // Construction
                $("#inpGameMode").bootstrapSwitch("readonly", maskData.children("GameMode").text() != "true");
                $("#inpEnableCopyPaste").bootstrapSwitch("readonly", maskData.children("EnableCopyPaste").text() != "true");

                // Misc
                $("#inpIgnoreLastSession").bootstrapSwitch("readonly", maskData.children("IgnoreLastSession").text() != "true");

                UnlockPage();
            });
        }

        LoadParam();

        $("#btnRefresh").click(function () {
            LoadParam();
        });

        $("#btnSave").click(function () {
            bootbox.confirm("If the server is running, it WILL be restarted !<br/>Are you sure you want to save ?",
            function (result) {
                if (result) {
                    var config = {};

                    // Network
                    if (maskData.children("IP").text() == "true")
                        config.IP = $('#inpIP').val();
                    if (maskData.children("ServerPort").text() == "true")
                        config.ServerPort = $('#inpServerPort').val();
                    if (maskData.children("SteamPort").text() == "true")
                        config.SteamPort = $('#inpSteamPort').val();
                    if (maskData.children("OnlineMode").text() == "true")
                        config.OnlineMode = $('#inpOnlineMode').val();
                    if (maskData.children("ServerName").text() == "true")
                        config.ServerName = $('#inpServerName').val();
                    if (maskData.children("WorldName").text() == "true")
                        config.WorldName = $('#inpWorldName').val();

                    // Server
                    if (maskData.children("MaxPlayers").text() == "true")
                        config.MaxPlayers = $('#inpMaxPlayers').val();
                    if (maskData.children("AutoSaveInMinutes").text() == "true")
                        config.AutoSaveInMinutes = $('#inpAutoSaveInMinutes').val();
                    if (maskData.children("PauseGameWhenEmpty").text() == "true")
                        config.PauseGameWhenEmpty = $('#inpPauseGameWhenEmpty').is(":checked");
                    if (maskData.children("ClientCanSave").text() == "true")
                        config.ClientCanSave = $('#inpClientCanSave').is(":checked");
                    
                    // Gameplay
                    if (maskData.children("EnableStructuralSimulation").text() == "true")
                        config.EnableStructuralSimulation = $('#inpEnableStructuralSimulation').is(":checked");
                    if (maskData.children("MaxActiveFracturePieces").text() == "true")
                        config.MaxActiveFracturePieces = $('#inpMaxActiveFracturePieces').val();
                    if (maskData.children("EnableBarbarians").text() == "true")
                        config.EnableBarbarians = $('#inpEnableBarbarians').is(":checked");
                    if (maskData.children("MaximumBots").text() == "true")
                        config.MaximumBots = $('#inpMaximumBots').val();
                    if (maskData.children("GameDayInRealMinutes").text() == "true")
                        config.GameDayInRealMinutes = $('#inpGameDayInRealMinutes').val();
                    if (maskData.children("DayNightRatio").text() == "true")
                        config.DayNightRatio = $('#inpDayNightRatio').val();
                    if (maskData.children("EnableAnimals").text() == "true")
                        config.EnableAnimals = $('#inpEnableAnimals').is(":checked");

                    // Players
                    if (maskData.children("EnableSpectator").text() == "true")
                        config.EnableSpectator = $('#inpEnableSpectator').is(":checked");
                    
                    // Mods
                    if (maskData.children("Mods").text() == "true") {
                        var mods = [];
                        $("#inpMods").val().split("\n").forEach(function (value) {
                            if (!isEmptyOrSpaces(value))
                                mods.push(value);
                        });
                        config.Mods = mods.join(";");
                    }

                    // Access
                    if (maskData.children("Administrators").text() == "true") {
                        var administrators = [];
                        $("#inpAdministrators").val().split("\n").forEach(function (value) {
                            if (!isEmptyOrSpaces(value))
                                administrators.push(value);
                        });
                        config.Administrators = administrators.join(";");
                    }
                    if (maskData.children("Banned").text() == "true") {
                        var banned = [];
                        $("#inpBanned").val().split("\n").forEach(function (value) {
                            if (!isEmptyOrSpaces(value))
                                banned.push(value);
                        });
                        config.Banned = banned.join(";");
                    }
                    if (maskData.children("GroupID").text() == "true")
                        config.GroupID = $('#inpGroupID').val();
                    
                    // Construction
                    if (maskData.children("GameMode").text() == "true") {
                        if ($('#inpGameMode').is(":checked"))
                            config.GameMode = "Creative";
                        else
                            config.GameMode = "Survival";
                    }

                    if (maskData.children("EnableCopyPaste").text() == "true")
                        config.EnableCopyPaste = $('#inpEnableCopyPaste').is(":checked");

                    // Misc
                    if (maskData.children("IgnoreLastSession").text() == "true")
                        config.IgnoreLastSession = $('#inpIgnoreLastSession').is(":checked");

                    config.ServerID = serverID;

                    $.post("/API/Server/MESetConfiguration",
                    config,
                    function (data) {
                        var root = $($.parseXML(data)).find("Response");

                        if (root.children("Type").text() == "Error") {
                            toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                            return;
                        }
                        toastr.success(root.children("Content").text(), "Server Settings updated");
                    });
                }
            });
        });
    }
</script>
