@{
    ViewBag.Title = "Server Settings";

    List<KeyValuePair<string, string>> breadCrumb = new List<KeyValuePair<string, string>>();
    breadCrumb.Add(new KeyValuePair<string, string>("Servers", "/Servers/"));
    breadCrumb.Add(new KeyValuePair<string, string>(ViewBag.Server.Name, "/" + ViewBag.ServerID + "/Dashboard/"));
    breadCrumb.Add(new KeyValuePair<string, string>("Server Settings", "/" + ViewBag.ServerID + "/Settings/"));
    ViewBag.Breadcrumb = breadCrumb;

    ViewBag.RefreshBtn = true;
}
<script type="text/javascript" src="/Content/Js/TouchSpinMod.js"></script>
<script type="text/javascript" src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />
<div class="col-md-12">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="tabbable-custom nav-justified">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#tab_Server" data-toggle="tab">
                            Server
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Jobs" data-toggle="tab">
                            Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Backups" data-toggle="tab">
                            Backups
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Access" data-toggle="tab">
                            SESM Access
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_Server">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Server Settings</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">SESM Name</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Process Priority</label>
                                            <div class="col-md-6">
                                                <select id="inpProcessPriority" class="bs-select form-control">
                                                    <option value="Low">Low</option>
                                                    <option value="Normal">Normal</option>
                                                    <option value="High">High</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Public Status</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpPublic">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="display: none;">
                                            <label class="control-label col-md-6">Use SE Server Extender</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpUseServerExtender">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-offset-6 col-md-6">
                                            <button type="button" class="btn green" id="btnSaveServer">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_Jobs">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Jobs Settings</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Restart</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpAutoRestart">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Restart Cron</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpAutoRestartCron" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Start</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpAutoStart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-offset-6 col-md-6">
                                            <button type="button" class="btn green" id="btnSaveJobs">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_Backups">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Backups Settings</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Lvl 1 Backups</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpLvl1BackupEnabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Infos</label>
                                            <div class="col-md-9">
                                                <span class="form-control-static" id="inpLvl1BackupInfos">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Lvl 2 Backups</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpLvl2BackupEnabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Infos</label>
                                            <div class="col-md-9">
                                                <span class="form-control-static" id="inpLvl2BackupInfos">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Lvl 3 Backups</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpLvl3BackupEnabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Infos</label>
                                            <div class="col-md-9">
                                                <span class="form-control-static" id="inpLvl3BackupInfos">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-offset-6 col-md-6">
                                            <button type="button" class="btn green" id="btnSaveBackups">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_Access">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Access Settings</h3>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Web Administrators</label>
                                            <div class="col-md-8">
                                                <textarea rows="10" id="inpWebAdministrators" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Web Managers</label>
                                            <div class="col-md-8">
                                                <textarea rows="10" id="inpWebManagers" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Web Users</label>
                                            <div class="col-md-8">
                                                <textarea rows="10" id="inpWebUsers" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-offset-6 col-md-6">
                                            <button type="button" class="btn green" id="btnSaveAccess">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function initPage() {
        $('#btnShowAll').click(function () {
            $('.tab-pane').addClass("active");
        });

        function isEmptyOrSpaces(str) {
            return str === null || str.match(/^\s*$/) !== null;
        }

        // Initializers
        $.fn.bootstrapSwitch.defaults.onText = '<i class="fa fa-check"></i>';
        $.fn.bootstrapSwitch.defaults.offText = '<i class="fa fa-times"></i>';
        $("input[type='checkbox']").bootstrapSwitch();

        $('#inpServerExtenderPort').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 65535,
            step: 1
        });

        var serverLoaded = false;
        var jobsLoaded = false;
        var backupsLoaded = false;
        var accessLoaded = false;

        var serverRights = null;
        var jobsRights = null;
        var backupsRights = null;
        var accessRights = null;

        function checkLock() {
            if (serverLoaded && jobsLoaded && backupsLoaded && accessLoaded)
                UnlockPage();
        }

        function refreshData() {
            LockPage();
            serverLoaded = false;
            jobsLoaded = false;
            backupsLoaded = false;
            accessLoaded = false;

            // Server Settings
            $.post("/API/Server/GetSettings",
            {
                ServerID: serverID
            },
            function (data) {
                serverLoaded = true;
                checkLock();

                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                var content = root.children("Content");
                var values = content.children("Values");
                serverRights = content.children("Rights");

                $('#inpName').val(values.children("Name").text());
                $('#inpPublic').bootstrapSwitch('state', values.children("Public").text() == "true");
                $('#inpProcessPriority').val(values.children("ProcessPriority").text());
                if (values.children("UseServerExtender").length != 0)
                    $('#inpUseServerExtender').bootstrapSwitch('state', values.children("UseServerExtender").text() == "true");


                $('#inpName').prop("readonly", serverRights.children("Name").text() != "true");
                $("#inpPublic").bootstrapSwitch("readonly", serverRights.children("Public").text() != "true");
                $('#inpProcessPriority').prop("disabled", serverRights.children("ProcessPriority").text() != "true");

                if (serverRights.children("UseServerExtender").length != 0) {
                    $("#inpUseServerExtender").parents(".form-group").show();
                    $("#inpUseServerExtender").bootstrapSwitch("readonly", serverRights.children("UseServerExtender").text() != "true");
                } else {
                    $("#inpUseServerExtender").parents(".form-group").hide();
                }

            });

            // Jobs Settings
            $.post("/API/Server/GetJobsSettings",
            {
                ServerID: serverID
            },
            function (data) {
                jobsLoaded = true;
                checkLock();

                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                var content = root.children("Content");
                var values = content.children("Values");
                jobsRights = content.children("Rights");

                $('#inpAutoRestart').bootstrapSwitch('state', values.children("AutoRestart").text() == "true");
                $('#inpAutoRestartCron').val(values.children("AutoRestartCron").text());
                $('#inpAutoStart').bootstrapSwitch('state', values.children("AutoStart").text() == "true");

                $("#inpAutoRestart").bootstrapSwitch("readonly", jobsRights.children("AutoRestart").text() != "true");
                $('#inpAutoRestartCron').prop("readonly", jobsRights.children("AutoRestartCron").text() != "true");
                $("#inpAutoStart").bootstrapSwitch("readonly", jobsRights.children("AutoStart").text() != "true");
            });

            // Backups Settings
            $.post("/API/Server/GetBackupsSettings",
            {
                ServerID: serverID
            },
            function (data) {
                backupsLoaded = true;
                checkLock();

                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                var content = root.children("Content");

                $('#inpLvl1BackupEnabled').bootstrapSwitch('state', content.children("Lvl1BackupEnabled").text() == "true");
                $('#inpLvl2BackupEnabled').bootstrapSwitch('state', content.children("Lvl2BackupEnabled").text() == "true");
                $('#inpLvl3BackupEnabled').bootstrapSwitch('state', content.children("Lvl3BackupEnabled").text() == "true");

                $('#inpLvl1BackupInfos').text(content.children("Lvl1BackupInfos").text());
                $('#inpLvl2BackupInfos').text(content.children("Lvl2BackupInfos").text());
                $('#inpLvl3BackupInfos').text(content.children("Lvl3BackupInfos").text());
            });

            // Access Settings
            $.post("/API/Server/GetAccessSettings",
            {
                ServerID: serverID
            },
            function (data) {
                accessLoaded = true;
                checkLock();

                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                var content = root.children("Content");

                var webAdministrators = [];
                content.children("WebAdministrators").children().each(function (index) {
                    var item = $(this);
                    webAdministrators.push(item.text());
                });
                $('#inpWebAdministrators').val(webAdministrators.join("\r\n"));

                var webManagers = [];
                content.children("WebManagers").children().each(function (index) {
                    var item = $(this);
                    webManagers.push(item.text());
                });
                $('#inpWebManagers').val(webManagers.join("\r\n"));

                var webUsers = [];
                content.children("WebUsers").children().each(function (index) {
                    var item = $(this);
                    webUsers.push(item.text());
                });
                $('#inpWebUsers').val(webUsers.join("\r\n"));
            });
        }

        refreshData();

        $('#btnSaveServer').click(function () {
            bootbox.confirm("If you changed the server name, and if the server is running, it WILL be restarted !<br/>Are you sure you want to save ?",
            function (result) {
                if (result) {
                    LockPage();
                    $.post("/API/Server/SetSettings",
                    {
                        ServerID: serverID,
                        Name: $("#inpName").val(),
                        Public: $('#inpPublic').is(":checked"),
                        ProcessPriority: $("#inpProcessPriority").val()
                    },
                    function (data) {
                        UnlockPage();
                        var root = $($.parseXML(data)).find("Response");

                        if (root.children("Type").text() == "Error") {
                            toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                            return;
                        }

                        toastr.success("The server settings have been updated", "Server Settings Updated");

                        refreshData();
                    });

                }
            });
        });

        $('#btnSaveSESE').click(function () {
            bootbox.confirm("If the server is running, it WILL be restarted !<br/>Are you sure you want to save ?",
            function (result) {
                if (result) {
                    LockPage();
                    $.post("/API/Server/SetSESESettings",
                    {
                        ServerID: serverID,
                        UseServerExtender: $('#inpUseServerExtender').is(":checked"),
                        ServerExtenderPort: $("#inpServerExtenderPort").val()
                    },
                    function (data) {
                        UnlockPage();
                        var root = $($.parseXML(data)).find("Response");

                        if (root.children("Type").text() == "Error") {
                            toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                            return;
                        }

                        toastr.success("The server extender settings have been updated", "Server Extender Settings Updated");

                        refreshData();
                    });

                }
            });
        });

        $('#btnSaveJobs').click(function () {
            LockPage();
            $.post("/API/Server/SetJobsSettings",
            {
                ServerID: serverID,
                AutoRestart: $('#inpAutoRestart').is(":checked"),
                AutoRestartCron: $("#inpAutoRestartCron").val(),
                AutoStart: $('#inpAutoStart').is(":checked")
            },
            function (data) {
                UnlockPage();
                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                toastr.success("The jobs settings have been updated", "Server Jobs Settings Updated");

                refreshData();
            });
        });

        $('#btnSaveBackups').click(function () {
            LockPage();
            $.post("/API/Server/SetBackupsSettings",
            {
                ServerID: serverID,
                Lvl1BackupEnabled: $('#inpLvl1BackupEnabled').is(":checked"),
                Lvl2BackupEnabled: $('#inpLvl2BackupEnabled').is(":checked"),
                Lvl3BackupEnabled: $('#inpLvl3BackupEnabled').is(":checked")
            },
            function (data) {
                UnlockPage();
                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                toastr.success("The backups settings have been updated", "Server Backups Settings Updated");

                refreshData();
            });
        });

        $('#btnSaveAccess').click(function () {
            LockPage();
            var access = {};
            access.ServerID = serverID;
            if (accessLevel != "Manager") {
                var webAdministrators = [];
                $("#inpWebAdministrators").val().split("\n").forEach(function (value) {
                    if (!isEmptyOrSpaces(value))
                        webAdministrators.push(value);
                });

                access.WebAdministrators = webAdministrators.join(";");
            }

            var webManagers = [];
            $("#inpWebManagers").val().split("\n").forEach(function (value) {
                if (!isEmptyOrSpaces(value))
                    webManagers.push(value);
            });

            access.WebManagers = webManagers.join(";");

            var webUsers = [];
            $("#inpWebUsers").val().split("\n").forEach(function (value) {
                if (!isEmptyOrSpaces(value))
                    webUsers.push(value);
            });

            access.WebUsers = webUsers.join(";");

            $.post("/API/Server/SetAccessSettings",
            access,
            function (data) {
                UnlockPage();
                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    return;
                }

                toastr.success("The Access settings have been updated", "Server Access Settings Updated");

                refreshData();
            });
        });

        $("#btnRefresh").click(function () {
            refreshData();
        });
    }
</script>
