@{
    ViewBag.Title = "Diagnosis";
}

<div class="row">
    Database Connexion : <br/>
    Database Integrity :<br /> 
    Service Creation :<br />
    Service Deletion :<br />
    FileSystem Access :<br />
    Super Administrator presence :<br />
    
</div>