@model SESM.Models.View.Settings.DiagnosisViewModel
@{
    ViewBag.Title = "Diagnosis";
}

<div class="row">
    @if (Model.DatabaseConnexion)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Database Connexion
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> Database Connexion
        </div>
    }

    @if (Model.ArchMatch)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Architecture
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> Architecture
        </div>
    }
    
    @if (Model.Binariesx86)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Binaries x86
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> Binaries x86
        </div>
    }
    
    @if (Model.Binariesx64)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Binaries x64
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> Binaries x64
        </div>
    }
    
    @if (Model.ServiceCreation)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Service Creation
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> Service Creation
        </div>
    }
    
    @if (Model.ServiceDeletion)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Service Deletion
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> Service Deletion
        </div>
    }
    
    @if (Model.FileCreation)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> File Creation
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> File Creation
        </div>
    }

    @if (Model.FileDeletion)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> File Deletion
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span> File Deletion
        </div>
    }
    
    
    

</div>