@{
    ViewBag.Title = "Global Settings";

    List<KeyValuePair<string, string>> breadCrumb = new List<KeyValuePair<string, string>>();
    breadCrumb.Add(new KeyValuePair<string, string>("Global Setting", "/Settings/"));
    ViewBag.Breadcrumb = breadCrumb;
}

<div class="col-md-6 col-sm-12">
    <div class="dashboard-stat green-meadow">
        <div class="visual">
            <i class="icon-settings"></i>
        </div>
        <div class="details">
            <div class="number">
                Space Engineers
            </div>
        </div>

    </div>
</div>
<div class="col-md-6 col-sm-12">
    <div class="dashboard-stat blue-madison">
        <div class="visual">
            <i class="icon-rocket"></i>
        </div>
        <div class="details">
            <div class="number">
                SE Server Extender
            </div>
        </div>

    </div>
</div>