@model SESM.Models.Views.Mod.ModViewModel
@{
    ViewBag.Title = "Mod Manager";
    ViewBag.Category = 2;
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    int id = (int)ViewData["ID"];
}
<br />
<script type="text/javascript">
    $(document).ready(function () {
        $('#LocSearchBox').on('input', function () {
            var searchedStr = $('#LocSearchBox').val().toLowerCase();

            var terms = new Array();
            var splittedSearchedStr = searchedStr.split(" ");
            splittedSearchedStr.forEach(function (entry) {
                var type = "";
                switch (entry.toLowerCase().split(":")[0]) {
                    case "desc":
                    case "description":
                        type = "desc";
                        break;
                    case "name":
                    case "label":
                        type = "name";
                        break;
                    case "val":
                    case "value":
                        type = "val";
                        break;
                    default:
                        type = "all";
                        break;
                }
                if (type == "all") {
                    terms.push({ type: type, keyword: entry });
                } else {
                    terms.push({ type: type, keyword: entry.toLowerCase().substring(entry.indexOf(":") + 1) });
                }

            });

            $(".tab").each(function (index) {
                var count = 0;
                $(this).css("display", "none");
                $('ul.nav > li > a[href="#' + $(this).attr("id") + '"]').parent().css("display", "none");

                $(this).children(".form-group").each(function (index) {
                    $(this).hide();
                    locThis = $(this);

                    if (terms.every(function (element, index, array) {
                        if (element.type == "desc") {
                            return locThis.attr("data-content").toLowerCase().indexOf(element.keyword) > -1;
                    } else if (element.type == "name") {
                            return locThis.children("label").first().text().toLowerCase().indexOf(element.keyword) > -1;
                    } else if (element.type == "val") {
                            return locThis.children("div").first().children("input, textarea, select").first().val() != undefined
                            && locThis.children("div").first().children("input, textarea, select").first().val().toLowerCase().indexOf(element.keyword) > -1;
                    } else {
                            return locThis.attr("data-content").toLowerCase().indexOf(element.keyword) > -1
                                || locThis.children("label").first().text().toLowerCase().indexOf(element.keyword) > -1
                                || (locThis.children("div").first().children("input, textarea, select").first().val() != undefined
                                    && locThis.children("div").first().children("input, textarea, select").first().val().toLowerCase().indexOf(element.keyword) > -1);
                    }

                    })) {
                        locThis.css("display", "");
                        count++;
                    }
                });
                if (count != 0) {
                    $(this).css("display", "");
                    $('ul.nav > li > a[href="#' + $(this).attr("id") + '"]').parent().css("display", "");;
                }

            });

            if ($('ul.nav > li.active').css("display") == "none") {
                $('ul.nav > li[style!="display: none;"] > a').first().tab('show');
            }

        });


        $('ul > li > a').each(function (index) {
            var targt = $(this).attr("href");
            $(this).click(function () {
                $.smoothScroll({
                    offset: -20,
                    scrollElement: $('#scrollZone'),
                    scrollTarget: targt
                });
            });
        });


        $('.form-group').each(function (index) {
            $(this).mouseover(function () {
                $("#toolTipDiv").html("<h3>" + $(this).children("label").text() + "</h3>" +
                    "<p>" + $(this).attr("data-content") + "</p>");
            });
            $(this).focusin(function () {
                $("#toolTipDiv").html("<h3>" + $(this).children("label").text() + "</h3>" +
                    "<p>" + $(this).attr("data-content") + "</p>");
            });
            $(this).mouseout(function () {
                $("#toolTipDiv").html("");
            });
            $(this).focusout(function () {
                $("#toolTipDiv").html("");
            });
        });

        $('.list-group-item').each(function (index) {
            var locthis = $(this);
            $.get("/Mod/GetWorkshopInfo/" + "@id" + "?item=" + $(this).children("span").text(), function (data) {
                console.log(data);
                var xmlDoc = $.parseXML(data);
                var xml = $(xmlDoc);
                var ModName = xml.find("ModName").text();
                var ThumbnailURL = xml.find("ThumbnailURL").text();
                var Description = xml.find("Description").text();

                locthis.html("<img src=\"" + ThumbnailURL + "\" style=\"width:35px;height:35px;float:left;\" />" +
                    "<h5 style=\"margin-left:50px; width: 50%\">" + ModName + " (<span>" + locthis.children("span").text() + "</span>)</h5> " +
                    "<div class=\"pull-right\">" +
                    "<button type=\"button\" class=\"btn btn-danger\">Delete</button>" +
                    "</div>");

                locthis.mouseover(function () {
                    $("#DescMod").html("<h3>" + ModName + "</h3>" +
                        "<div style=\"height: calc(100% - 110px);overflow: auto;\">" +
                        "<img class=\"img-responsive\" style=\"width:25%; float:left; margin-right: 15px; margin-bottom: 15px;\" src=\"" + ThumbnailURL + "\"/>" + 
                        Description + "</div>");
                });
            });
        });

    });
</script>
<style>
    .list-group-item {
        border-color: rgba(0,0,0,0);

    }

    .list-group-item:nth-child(even) {
        background: rgb(40, 40, 40);
    }

    .list-group-item:nth-child(odd) {
        background: rgb(35, 35, 35);
    }

    .list-group-item:hover {
        background: rgb(55, 55, 55);
    }
</style>
<div class="col-md-4" style="height: calc(100% - 235px); background-color: rgb(49, 74, 99); margin-bottom: 15px;padding: 15px 15px 15px 15px;">
    <input id="LocSearchBox" type="text" class="form-control" placeholder="Search" />

    <hr />
    <div id="DescMod" style="height: 100%;">

    </div>
</div>
<div class="col-md-8" style="padding-right: 0px; height: calc(100% - 235px); ">
    <div class="row" style="background-color: rgb(29, 28, 28); padding: 15px 15px 15px 15px; margin: 0px 0px 0px 0px; height: 100%">
        <ul class="list-group">

            @foreach(string item in Model.ModName)
            {
                <li class="list-group-item"><i class="fa fa-cog fa-spin"></i> <span>@item</span></li>
            }
        </ul>
    </div>
</div>
