@{
    List<KeyValuePair<string, string>> data = ViewBag.Breadcrumb;
}
@if(data != null)
{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @for(int i = 0; i < data.Count - 1; i++)
            {
                <li>
                    <a href="@data[i].Value">@data[i].Key</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            }
            <li>
                <a href="@data[data.Count - 1].Value">@data[data.Count - 1].Key</a>
            </li>
        </ul>
        @if(ViewBag.ServerID != null)
        {
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height blue-madison-stripe dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        Quick Actions <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#" class="bg-green"><i class="fa fa-play" style="color: white;"></i> Start Server</a>
                        </li>
                        <li>
                            <a href="#" class="bg-purple"><i class="fa fa-stop" style="color: white;"></i> Stop Server</a>
                        </li>
                        <li>
                            <a href="#" class="bg-yellow"><i class="fa fa-refresh" style="color: white;"></i> Restart Server</a>
                        </li>
                        <li>
                            <a href="#" class="bg-red"><i class="fa fa-times" style="color: white;"></i> Kill Server</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
}