@using SESM.DTO
<ul class="nav navbar-nav navbar-right">
    @if (Session["User"] != null)
    {
        EntityUser user = Session["User"] as EntityUser;
        <li>
            @Html.ActionLink("Hi " + user.Login + " !", "Manage", "Account")
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Account")
        </li>


    }
    else
    {

        <li>
            @Html.ActionLink("Register", "Register", "Account")
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Account")
        </li>

    }
</ul>