@using SESM.DTO
<ul class="nav navbar-nav">
    <li>
        @Html.ActionLink("Servers", "Index", "Server")
    </li>
    @if (Session["User"] != null)
    {
        EntityUser user = (EntityUser)Session["User"];
        if (user.IsAdmin)
         {
            <li>
                @Html.ActionLink("Users", "Index", "User")
            </li>
             <li>
                 @Html.ActionLink("Settings", "Index", "Settings")
             </li>
            <li>
                @Html.ActionLink("Stats", "HourlyStats", "Settings")
            </li>
         }
    }
</ul>