@using SESM.Tools.Helpers.HTMLHelper
<html>
<head>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/extra.css" />
    <title>SESM</title>
</head>
<body>
    <div class="global-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Hi Test
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1" id="brand-cell" onclick="location.href='/';">
                        <span id="ColorBrand">S</span>ESM
                    </div>
                    @Html.NavServer(Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]), (int)ViewBag.Category)
                </div>
            </div>
        </nav>
        <div class="row" style="height: 100%;">
            <div class="col-md-12">
                @RenderBody()
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>
