@using SESM.Tools.Helpers.HTMLHelper
<html>
<head>
    <script src="/Content/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/bootstrap-theme.min.css">
    <script src="/Content/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css/extra.css" />
    <script src="~/Content/js/jquery.smooth-scroll.min.js"></script>
    <title>SESM</title>
</head>
<body>
    <div class="global-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Hi Test
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1" id="brand-cell" onclick="location.href='/';">
                        <span id="ColorBrand">S</span>ESM
                    </div>
                    @Html.NavServer(Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]), (int)ViewBag.Category)
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12" style="min-height: calc(100% - 200px); ">
                @RenderBody()
            </div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="row">
            <p><a href="https://bitbucket.org/remygrandin/sesm-public/wiki/Home">SESM</a> V3-DEV. <a href="http://www.spaceengineersgame.com/">Space Engineers &reg;</a> is a game of <a href="http://www.keenswh.com/"> KEEN SWH LTD</a>.</p>
        </div>
    </div>
</body>
</html>
