<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="start ">
        <a href="/">
            <i class="icon-home"></i>
            <span class="title">Home</span>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <i class="icon-power"></i>
            <span class="title">Servers</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="portlet_general.html">
                    General Portlets
                </a>
            </li>
            <li>
                <a href="portlet_general2.html">
                    <span class="badge badge-roundless badge-danger">new</span>New Portlets #1
                </a>
            </li>
            <li>
                <a href="portlet_general3.html">
                    <span class="badge badge-roundless badge-danger">new</span>New Portlets #2
                </a>
            </li>
            <li>
                <a href="portlet_ajax.html">
                    Ajax Portlets
                </a>
            </li>
            <li>
                <a href="portlet_draggable.html">
                    Draggable Portlets
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:;">
            <i class="icon-present"></i>
            <span class="title">Extra</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="page_about.html">
                    About Us
                </a>
            </li>
            <li>
                <a href="page_contact.html">
                    Contact Us
                </a>
            </li>
            <li>
                <a href="extra_search.html">
                    Search Results
                </a>
            </li>
            <li>
                <a href="extra_pricing_table.html">
                    Pricing Tables
                </a>
            </li>
            <li>
                <a href="extra_404_option1.html">
                    404 Page Option 1
                </a>
            </li>
            <li>
                <a href="extra_404_option2.html">
                    404 Page Option 2
                </a>
            </li>
            <li>
                <a href="extra_404_option3.html">
                    404 Page Option 3
                </a>
            </li>
            <li>
                <a href="extra_500_option1.html">
                    500 Page Option 1
                </a>
            </li>
            <li>
                <a href="extra_500_option2.html">
                    500 Page Option 2
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/Settings/">
            <i class="icon-equalizer"></i>
            <span class="title">Global Settings</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="/Settings/SESE/">
                    <i class="icon-rocket"></i> SE Server Extender
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-globe"></i> Item 2 <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#"><i class="icon-tag"></i> Sample Link 1</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-pencil"></i> Sample Link 1</a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-graph"></i> Sample Link 1</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-bar-chart"></i>
                    Item 3
                </a>
            </li>
        </ul>
    </li>
</ul>